<div id="skills" class="container-fluid">
    <!-- Skills bar-->
    <div id="skillsBar" class="container-fluid">
        <h2 id="skillshead">Skills</h2><br>
        <p id="skillslabel">Front End Skills:</p>
        <div id="bg">
            <div id="fepercentage"> 85%</div>
        </div>
        <p id="skillslabel">Back End Skills:</p>
        <div id="bg">
            <div id="bepercentage"> 80%</div>
        </div>
        <p id="skillslabel">Project Management Skills:</p>
        <div id="bg">
            <div id="pmpercentage"> 70%</div>
        </div>


    </div>
    <!--  skills cards -->
    <div class="row">
        <div routerLink='/projects' class="card col" id="skillCards">
            <div class="card-body">
                <h5 class="card-title" id="skillsCardhead">{{fronttitle}}</h5>
                <p class="card-text">CSS</p>
                <p class="card-text">HTML</p>
                <p class="card-text">BootStrap</p>
            </div>
        </div>
        <div routerLink='/projects'  class="card col" id="skillCards">
            <div class="card-body">
                <h5 class="card-title" id="skillsCardhead">{{backtitle}}</h5>
                <p class="card-text">NodeJs</p>
                <p class="card-text">MariaDB</p>
                <p class="card-text">Express</p>
            </div>
        </div>

    </div>