#skills::before{
    display: block;
    content: "";
    height: 100px;
}

#skills{
    background-image: url(https://cdn.pixabay.com/photo/2017/05/09/10/59/mount-fuji-2297961__340.jpg);
    background-repeat: no-repeat;
    background-size:100% 100%;
    background-attachment: fixed;
}

#skillshead{
    background-color: #185571;
}

#design{
    padding-bottom: 200px;
    font-size: 25px;
}

.row{
    margin-top: -10rem;
}

h1{
    font-size: 30px;
    font-family: 'Press Start 2P';
}

h4{
    font-size: 20px;
    font-family: 'Press Start 2P';
}

#resume{
    background-color: rgba(0, 0, 0, .4);
    margin: 5px;
    color: white;
    font-family: 'Press Start 2P';
    font-size: 20px;
}

#resume:hover{
    color: black;
    background-color: white;
    font-family: 'Press Start 2P';
    letter-spacing: 1px;
    font-size: 25px;
}



/* #skills {
    background-image: url(https://cdn.pixabay.com/photo/2017/05/09/10/59/mount-fuji-2297961__340.jpg);
    background-repeat: no-repeat;
    padding-top: 10px;
    background-size: cover;
    width: 100%;
    height: 100vh;
    margin-top: 60px;
}

#skillsBar {

    background-color: rgba(0, 0, 0, 0.0);
    box-shadow: none;
    width: 50%;
    border-radius: 10px;
    height: 40vh;
}

#skillsBar:hover {
   
    background-color: white;

    box-shadow: 10px 10px 5px black;
}

#fepercentage {
    background-color: green;
    width: 85%;
    text-align: right;
}

#bepercentage {
    background-color: green;
    width: 80%;
    text-align: right;

}

#pmpercentage {
    background-color: green;
    width: 70%;
    text-align: right;


}

#skillslabel {
    font-family: 'Delicious Handrawn';
    font-size: 25px;
    letter-spacing: 2px;
    margin-bottom: 0px;
}

#skillCards {
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.0);
    box-shadow: none;
    width: 50%;
    border-radius: 10px;
    height: 40vh;
    border: none;

}

#skillCards:hover {
    animation: 3s linear 0s infinite running mySlide;
    background-color: white;
    box-shadow: 10px 10px 5px black;  
    color: black;

}

#projectss {
    border-radius: 10px;
    height: 100%;
    margin-top: 20px;
    margin: 10px;
    text-align: center;
    margin-left: 10px;


}

h5 {
    font-size: 30px;
    font-family: 'Press Start 2P';
    margin-top: 20px;
    margin-bottom: 20px;
}

#project {
    margin: 10px;
    height: 100%;
    box-shadow: 10px 10px 5px black;
}

#project:hover {
    animation: 3s linear 0s infinite running mySlide;

}

img {
    width: 100%;
    height: 50%;
    border-radius: 10px;
}

#skillshead {
    margin-top: 20px;
    text-decoration: underline;
    font-family: 'Press Start 2P';
}

#skillsCardhead {
    margin-top: 30px;
    margin-bottom: 50px;
    font-family: 'Press Start 2P';
    font-size: 25px;
    text-decoration: underline;

}

.card-text {
    font-family: 'Delicious Handrawn';
    font-size: 40px;
    letter-spacing: 2px;
}

#bg {
    background-color: grey;
    font-weight: bold;
    font-size: large;
    color: white;
}

@keyframes mySlide {


    50% {
        transform: scale(1.1, 1.1);
    }
    100% {
        transform: scale(1.1, 1.1);
    }

} */