<div id="skills" class="container-fluid">
    <!-- Skills bar-->
    <div id="skillsBar" class="container-fluid">
        <h2 id="skillshead">Skills</h2><br>
        <p id="skillslabel">Front End Skills:</p>
        <div id="bg">
            <div id="fepercentage"> 85%</div>
        </div>
        <p id="skillslabel">Back End Skills:</p>
        <div id="bg">
            <div id="bepercentage"> 80%</div>
        </div>
        <p id="skillslabel">Project Management Skills:</p>
        <div id="bg">
            <div id="pmpercentage"> 70%</div>
        </div>


    </div>
    <!--  skills cards -->
    <div class="row">
        <div class="card col" id="skillCards">
            <div class="card-body">
                <h5 class="card-title" id="skillsCardhead">{{fronttitle}}</h5>
                <p class="card-text">CSS</p>
                <p class="card-text">HTML</p>
                <p class="card-text">BootStrap</p>
            </div>
        </div>
        <div class="card col" id="skillCards">
            <div class="card-body">
                <h5 class="card-title" id="skillsCardhead">{{backtitle}}</h5>
                <p class="card-text">NodeJs</p>
                <p class="card-text">MariaDB</p>
                <p class="card-text">Express</p>
            </div>
        </div>

    </div>
    <!-- Projects -->
    <div id="projectss" class="row">
        <div class="card col" id="project">
            <div class="card-body">
                <img src="https://cdn.pixabay.com/photo/2013/07/12/17/18/schedule-151991__340.png" class="card-img-top"
                    alt="...">
                <h5 class="card-title">Task Manager App</h5>
                <p class="card-text">Content to be written</p>
                <a href="#" class="btn btn-primary">Check it out</a>
            </div>
        </div>
        <div class="card col" id="project">
            <div class="card-body">
                <img src="https://cdn.pixabay.com/photo/2017/02/15/10/57/pizza-2068272__340.jpg" class="card-img-top"
                    alt="...">
                <h5 class="card-title">Restaurant Website</h5>
                <p class="card-text">Content to be written</p>
                <a href="#" class="btn btn-primary">Check it out</a>
            </div>
        </div>
        <div class="card col" id="project">
            <div class="card-body">
                <img src="..." class="card-img-top" alt="...">
                <h5 class="card-title">Third Project</h5>
                <p class="card-text">Content to be written</p>
                <a href="#" class="btn btn-primary">Check it out</a>
            </div>
        </div>

    </div>

</div>