<div id="skills" class="container-fluid ">

    <!-- Intro -->
    <div class="container-fluid p-2 text-center text-light" id="skillshead">
        <h1 class="  mt-5"> Some fun facts about<span style="color: orange;"> me:</span></h1><br>
        <p class=" mx-3" id="design"> In the realm of bits and pixels, a web developer named <span
                class=" display-6" style="font-weight: bolder; color: orange;"> Sunny </span>weilded his coding prowess
            like a digital soccerrer. With each line of code, he conjured captivating websites, merging design and
            functionality seamlessly. His creations sparked awe, leaving users spellbound in the enchanting world he
            created</p>
    </div>

    <!-- Skills bar-->
    <div class="container rounded text-center">

        <!--  skills cards -->
        <div class="row gap-3 ">

            <!-- Card for designing skills -->
            <div class="card col-md my-2 py-2" id="skillCards">
                <div class="card-body">
                    <h4 class="card-title" id="skillsCardhead">
                        {{designer}}</h4>
                    <p style="font-size: 20px;">I value simple User-centric design, clean content structure, and
                        thoughtful interactions</p>
                    <ul class="m-2 list-group list-group-flush">
                        <li class="list-group-item" style="font-size: 22px;  color: brown;">Things I enjoy Designing:
                        </li>
                        <li class="list-group-item" style="font-size: 20px;">UX, UI, Web, Apps, Logos</li>
                    </ul>
                    <ul class="m-2 list-group list-group-flush">
                        <li class="list-group-item" style="font-size: 22px;  color: brown;">Tools I use for Designing:
                        </li>
                        <li class="list-group-item" style="font-size: 20px;">Figma</li>
                        <li class="list-group-item" style="font-size: 20px;">Pen and Paper</li>
                        <li class="list-group-item" style="font-size: 20px;">Font Awesome</li>
                    </ul>
                </div>
            </div>

            <!-- Card for frontend skills -->
            <div class="card col-md my-2 py-2" id="skillCards">
                <div class="card-body">
                    <h4 class="card-title" id="skillsCardhead"><i class="fa-duotone fa-window"></i> {{frontEnd}}
                    </h4>
                    <p style="font-size: 20px; ">I like to write code from scratch, and enjoy bringing ideas to life in
                        the browser</p>
                    <ul class="m-2 list-group list-group-flush">
                        <li class="list-group-item " style="font-size: 22px;  color: brown;">Front end Languages I
                            speak:
                        </li>
                        <li class="list-group-item" style="font-size: 20px;">HTML, CSS, Sass, JavaScript, GIT</li>
                    </ul>
                    <ul class="m-2 list-group list-group-flush">
                        <li class="list-group-item" style="font-size: 22px;  color: brown;">Development Tools:</li>
                        <li class="list-group-item" style="font-size: 20px;">Angular</li>
                        <li class="list-group-item" style="font-size: 20px;">Ionic</li>
                        <li class="list-group-item" style="font-size: 20px;">Bootstrap</li>
                    </ul>
                </div>
            </div>

            <!-- Card for backend skills -->
            <div class="card col-md my-2 py-2" id="skillCards">
                <div class="card-body">
                    <h4 class="card-title " id="skillsCardhead"><i
                            class="fa-duotone fa-gear-complex-code fa-beat"></i> {{backEnd}}</h4>
                    <p style="font-size: 20px;">I Love creating server-side logic and Infrastructure that powers
                        websites and web applications
                    </p>
                    <ul class="m-2  list-group list-group-flush">
                        <li class="list-group-item" style="font-size: 22px;  color: brown;"> Tools for testing: </li>
                        <li class="list-group-item" style="font-size: 20px;">Postman, Chrome Dev Tools</li>
                    </ul>
                    <ul class="m-2   list-group list-group-flush">
                        <li class="list-group-item" style="font-size: 22px;  color: brown;">Development Tools:</li>
                        <li class="list-group-item" style="font-size: 20px;">MySQL</li>
                        <li class="list-group-item" style="font-size: 20px;">MariaDB</li>
                        <li class="list-group-item" style="font-size: 20px;">Npm</li>
                        <li class="list-group-item" style="font-size: 20px;">Node.js</li>
                        <li class="list-group-item" style="font-size: 20px;">Express.js</li>
                    </ul>
                </div>
            </div>
        </div>


    </div>

    <!-- Projects -->
    <div class="container-fluid p-2 text-center text-light mb-5" id="skillshead">
        <h1 class="mt-5"> Lets Check out some <span style="color: orange;">Projects:</span></h1><br>
        <p class="mb-3" style="font-size: 22px;"> My Web Development projects aim to create a <span class=" display-6"
                style="font-weight: bolder; font-size: 25px; color: orange;">Responsive and Visually Captivating
                websites</span> that seamlessly integrates user-friendly navigation, dynamic content, and robust
            functionality to deliver exceptioal online experience.
        </p>
        <button class="btn m-2 mb-5 shadow " routerLink="/projects" id="resume"> Click to Checkout Projects </button>
    </div>


</div>