#projectspage::before {
    display: block;
    content: "";
    height: 100px;
}



#skillshead{
    background-color: #185571;
}

h1{
    font-size: 30px;
    font-family: 'Press Start 2P';
}

#resume{
    background-color: rgba(24, 85, 113, 1);
    margin: 5px;
    color: white;
    font-family: 'Press Start 2P';
    font-size: 20px;
    background-color: orange;
}

#resume:hover{
    color: black;
    background-color: orange;
    font-family: 'Press Start 2P';
    letter-spacing: 1px;
    font-size: 25px;
}

img{
    max-height: 250px;
}

#skillCards {
   height: 100vh;
}

p{
    font-size: 25px;
}

/*

span{
    color: red;
    font-size: x-large;
}

.eatit{
    background-color: #FDAF4B;
    border-radius: 20px;
    width: 100px;
    height: 50px;
} */