<div class="container-fluid " id="projectspage">

    <!-- Intro -->
    <div class="container-fluid p-2 rounded text-center text-light" id="skillshead">
        <h1 class="mx-3 m-5"> Some fun facts about the <span style="color: orange;">Projects</span> I created:</h1><br>
        <p class="mb-5 mx-3" id="design"> The Projects created by me showcases <span
                class="text display-5" style="font-weight: bolder; color: orange;">Impeccable design, Flawless Functionality,
                and Seamless User Experience.</span> It exemplifies innovation, attention to detailm and a deep
            understanding of modern web development practices. My expertise is evident through the projects stunning
            visuals, intutive navigation, and optimized performance, resulting in a truly remarkable design solution</p>


        <h4 class="mb-5 mx-3 display-6"> Like the Projects?  <br> <span style="color: orange;">Get in touch</span> by clicking on the <span style="color: orange;">button</span> below</h4>
        <button class="btn mb-5 p-2 mx-3" style="background-color: orange;" routerLink="/contact" id="resume">Contact Now!!</button>
    </div>
    <div class="container my-5 rounded shadow p-5 text-center bg-light">

        <h1 class="">Projects: </h1>

        <!-- List of projects -->
        <div class="row my-5 g-3 ">

            <!-- First Project Card -->
            <div class="card col-md-6 h-100 my-2" id="skillCards">
                <div class="card-body">
                    <img src="assets/uluskitchen.jpg" class="img w-100 h-50 my-3 rounded">
                    <h1 class="card-title my-4" style="font-size: 25px;"> Restaurant Web App: </h1>
                    <p class="card-text">The Restaurant Web App ("ULU's Kitchen") is a comprehensive digital platform
                        designed to enhane the dining experience for both customers and restaurant owners. It seamlessly
                        combines stunning visuals, intuitive navigation, and Advanced functionality to provide users
                        with an immersive and convenient way to explore the restaurant's offerings. <br> This app allows
                        customers to easily browse menu, place orders online, and make reservations. Additionaly, the
                        restaurant web app empowers owners providing them with tools to manage orders, update menu
                        items, track inventory, and analyze customer feedback, ultimately streamlining operations and
                        fostering business growth.</p>
                    <div class="container-fluid row">
                        <button class="btn col-md " id="resume">Checkout GITHUB</button>
                        <button class="btn col-md " id="resume">Checkout site</button>
                    </div>
                </div>
            </div>

            <!-- Second Project Card -->
            <div class="card col-md-6   h-100 my-2" id="skillCards">
                <div class="card-body">
                    <img src="assets/kenanipix.jpg" class="img w-100 h-50 my-3 rounded">
                    <h1 class="card-title my-4" style="font-size: 25px;"> Portfolio Web App: </h1>
                    <p class="card-text">The Restaurant Web App ("ULU's Kitchen") is a comprehensive digital platform
                        designed to enhane the dining experience for both customers and restaurant owners. It seamlessly
                        combines stunning visuals, intuitive navigation, and Advanced functionality to provide users
                        with an immersive and convenient way to explore the restaurant's offerings. <br> This app allows
                        customers to easily browse menu, place orders online, and make reservations. Additionaly, the
                        restaurant web app empowers owners providing them with tools to manage orders, update menu
                        items, track inventory, and analyze customer feedback, ultimately streamlining operations and
                        fostering business growth.</p>
                    <div class="container-fluid row">
                        <button class="btn col-md " id="resume">Checkout GITHUB</button>
                        <button class="btn col-md " id="resume">Checkout site</button>
                    </div>
                </div>
            </div>

            <!-- Third Project Card -->
            <div class="card col-md-6   h-100 my-2" id="skillCards">
                <div class="card-body">
                    <img src="assets/uluskitchen.jpg" class="img w-100 h-50 my-3 rounded">
                    <h1 class="card-title my-4" style="font-size: 25px;"> Restaurant Web App </h1>
                    <p class="card-text">The Restaurant Web App ("ULU's Kitchen") is a comprehensive digital platform
                        designed to enhane the dining experience for both customers and restaurant owners. It seamlessly
                        combines stunning visuals, intuitive navigation, and Advanced functionality to provide users
                        with an immersive and convenient way to explore the restaurant's offerings. <br> This app allows
                        customers to easily browse menu, place orders online, and make reservations. Additionaly, the
                        restaurant web app empowers owners providing them with tools to manage orders, update menu
                        items, track inventory, and analyze customer feedback, ultimately streamlining operations and
                        fostering business growth.</p>
                    <div class="container-fluid row">
                        <button class="btn col-md " id="resume">Checkout GITHUB</button>
                        <button class="btn col-md " id="resume">Checkout site</button>
                    </div>
                </div>
            </div>

            <!-- Fourth Project Card -->
            <div class="card col-md-6 h-100 my-2" id="skillCards">
                <div class="card-body">
                    <img src="assets/habitApp.png" class="img w-50 h-25 my-3 rounded">
                    <h1 class="card-title my-4" style="font-size: 25px;"> Taskmanager App: </h1>
                    <p class="card-text">The Restaurant Web App ("ULU's Kitchen") is a comprehensive digital platform
                        designed to enhane the dining experience for both customers and restaurant owners. It seamlessly
                        combines stunning visuals, intuitive navigation, and Advanced functionality to provide users
                        with an immersive and convenient way to explore the restaurant's offerings. <br> This app allows
                        customers to easily browse menu, place orders online, and make reservations. Additionaly, the
                        restaurant web app empowers owners providing them with tools to manage orders, update menu
                        items, track inventory, and analyze customer feedback, ultimately streamlining operations and
                        fostering business growth.</p>
                    <div class="container-fluid row">
                        <button class="btn col-md " id="resume">Checkout GITHUB</button>
                        <button class="btn col-md " id="resume">Checkout site</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>