<div class="container-fluid " id="projectspage">

    <!-- Intro -->
    <div class="container-fluid p-2 rounded text-center text-light" id="skillshead">
        <h1 class="mx-3 mt-5" style="font-family: 'Press Start 2P';"> Some fun facts about the <span style="color: orange;">Projects</span> I created:</h1><br>
    <p class="" id="design" style="font-size: 22px;"> The Projects created by me showcases <span class="" 
                style="font-weight: bolder; color: orange; font-size: 25px;">Impeccable design, Flawless Functionality,
                and Seamless User Experience.</span> It exemplifies innovation, attention to detailm and a deep
            understanding of modern web development practices. My expertise is evident through the projects stunning
            visuals, intutive navigation, and optimized performance, resulting in a truly remarkable design solution</p>


        <h4 class="mb-5 mx-3" style="font-size: 25px;"> Like the Projects? <br> <span style="color: orange;">Get in touch</span> by
            clicking on the <span style="color: orange;">button</span> below</h4>
        <button class="btn mb-5" style="background-color: orange;" routerLink="/contact" id="resume">Contact
            Now!!</button>
    </div>
    <div class="container mt-5 rounded shadow p-5 text-center" id="project">

        <h1 class="text-light" style="font-family: 'Press Start 2P';">Projects: </h1>

        <!-- List of projects -->
        <div class="row my-5 g-3 ">

            <!-- First Project Card -->
            <div class="card col-md-6  my-2 h-100" >
                <div class="card-body">
                    <img src="assets/uluskitchen.jpg" class="img w-100 h-50 my-3 rounded">
                    <h1 class="card-title my-2" style="font-size: 25px;"> Restaurant Web Application: <br> (Front-end)
                    </h1>
                    <p class="card-text" style="font-size: 22px;">

                        Angular-based restaurant web app delivering seamless experiences with real-time menus,
                        reservations, and orders.</p>
                    <div class="container-fluid row">
                        <a class="btn col-md " href="https://github.com/SunnyKalwani/Restaurant" id="resume">Checkout
                            GITHUB</a>
                        <a class="btn col-md " href="https://restaurant.sunnykalwani.com" id="resume">Checkout DEMO</a>
                    </div>
                </div>
            </div>

            <!-- Third Project Card -->
            <div class="card col-md-6 my-2 h-100" >
                <div class="card-body">
                    <img src="assets/kenanipix.jpg" class="img w-100 h-100 my-3 rounded">
                    <h1 class="card-title my-2" style="font-size: 25px;"> Portfolio Web Application: <br> (Front-end) </h1>
                    <p class="card-text" style="font-size: 22px;">Angular-powered portfolio web app showcasing a
                        photographer's stunning visuals,
                        creativity, and unique style.</p>
                    <div class="container-fluid row">
                        <a class="btn col-md " href="https://github.com/SunnyKalwani/kenanipixApp" id="resume">Checkout
                            GITHUB</a>
                        <a class="btn col-md " href="https://kenanipix.com" id="resume">Checkout site</a>
                    </div>
                </div>
            </div>


            <!-- Second Project Card -->
            <div class="card col-md-6 my-2 h-100" >
                <div class="card-body">
                    <img src="assets/uluskitchen.jpg" class="img w-100 h-50 my-3 rounded">
                    <h1 class="card-title my-2" style="font-size: 25px;"> Restaurant Web App:<br> (Back-end) </h1>
                    <p class="card-text" style="font-size: 22px;">Node.js-based restaurant web app: efficient, scalable,
                        and robust backend for
                        online food ordering and menu browsing.</p>
                    <div class="container-fluid row">
                        <a class="btn col-md " href="https://github.com/SunnyKalwani/restaurant_backend"
                            id="resume">Checkout GITHUB</a>
                    </div>
                </div>
            </div>



            <!-- Fourth Project Card -->
            <div class="card col-md-6 my-2 h-100" >
                <div class="card-body">
                    <img src="assets/habitApp.png" class="img w-50 h-50 my-3 rounded">
                    <h1 class="card-title my-2" style="font-size: 25px;"> Taskmanager App: <br>(Front-end/back-end) </h1>
                    <p class="card-text" style="font-size: 22px;">Ionic-powered task manager app for efficient
                        organization, tracking, and
                        management of tasks with intuitive design and seamless functionality.</p>
                    <div class="container-fluid row">
                        <a class="btn col-md " href="https://github.com/SunnyKalwani/theHabbitApp" id="resume">Checkout
                            GITHUB</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>