#projectspage::before {
    display: block;
    content: "";
    height: 100px;
}

 #projectspage {
    background-image: url(https://cdn.pixabay.com/photo/2017/05/09/10/59/mount-fuji-2297961__340.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;   
}


#skillshead{
    background-color: #185571;
}

h1{
    font-size: 30px;
    font-family: 'Press Start 2P';
}

#resume{
    background-color: rgba(24, 85, 113, 1);
    margin: 5px;
    color: white;
    font-family: 'Press Start 2P';
    font-size: 20px;
}

#resume:hover{
    color: black;
    background-color: white;
    font-family: 'Press Start 2P';
    letter-spacing: 1px;
    font-size: 25px;
}

img{
    max-height: 250px;
}
/*
#skillCards {
    background-color: white;
    border-radius: 10px;
    text-align: center;
    box-shadow: 10px 10px 5px black;
    margin: 3%;
}

span{
    color: red;
    font-size: x-large;
}

.eatit{
    background-color: #FDAF4B;
    border-radius: 20px;
    width: 100px;
    height: 50px;
} */