<div class="container-fluid" id="projectspage">
    <div class="row">
        <div  class="card col-5" id="skillCards">
            <div class="card-body">
            <img src="" alt="">
                <h5 class="card-title" id="skillsCardhead"> Restaurant Website </h5>
                <p class="card-text">Here's a wonderful design layout for a Fansy Restaurant - <span> "ULU's Kitchen </span></p>
                <button class="eatit fa-solid fa-utensils fa-spin"><i class="fa-sharp " ></i> Eat It !</button>
            </div>
        </div>
        <div  class="card col-5" id="skillCards">

            <div class="card-body">
            <img src="" alt="">

                <h5 class="card-title" id="skillsCardhead"> Project 2 </h5>
                <p class="card-text">NodeJs</p>
                <p class="card-text">MariaDB</p>
                <p class="card-text">Express</p>
            </div>
        </div>
        <div  class="card col-5" id="skillCards">
            <div class="card-body">
            <img src="" alt="">

                <h5 class="card-title" id="skillsCardhead">Project 2</h5>
                <p class="card-text">NodeJs</p>
                <p class="card-text">MariaDB</p>
                <p class="card-text">Express</p>
            </div>
        </div><div  class="card col-5" id="skillCards">
            <div class="card-body">
            <img src="" alt="">

                <h5 class="card-title" id="skillsCardhead">Project 2</h5>
                <p class="card-text">NodeJs</p>
                <p class="card-text">MariaDB</p>
                <p class="card-text">Express</p>
            </div>
        </div>
    </div>
</div>