<div class="container-fluid" id="contact">
    <div id="contactForm">
    <form >
        <div class="mb-3">
          <label id="name" class="form-label" >Name:</label>
          <input type="text" class="form-control" id="name" placeholder="Please enter your name...">
        </div>
        <div class="mb-3">
          <label id="email" class="form-label">Email id:</label>
          <input type="email" class="form-control" id="email" placeholder="Please enter your email...">
        </div>
        <div class="mb-3">
            <label id="desc" class="form-label">Breif Description:</label>
            <input type="text" class="form-control" id="desclabel"placeholder="Please enter a breif description..." >
          </div>
       
        <button id="submit" class="btn">Submit</button>
      </form>
    </div>
</div>