#bg{
    background-image: url(https://cdn.pixabay.com/photo/2017/05/09/10/59/mount-fuji-2297961__340.jpg);
    background-repeat: no-repeat;
    background-size:100% 100%;
    background-attachment: fixed;
}

.active{
    background-color: black;
    border-radius: 10px;
}
#navbar{
    background-color: #185571;
    font-family: 'Delicious Handrawn';
    font-size: larger;
    letter-spacing: 1px;

}
.navbar-brand{
    font-family: 'Press Start 2P';
}
.btn{
    color:white;
}

footer{
    background-color: #251311;
}