<!-- Navbar -->
<nav class="navbar fixed-top navbar-expand-lg navbar-fixed-top text-light" id="navbar">
  <div class="container-fluid">
    <a class="navbar-brand text-light" routerLink="/home">Sunny Kalwani</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-light " routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" routerLink="/skills-and-projects" routerLinkActive="active">Skills and Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" routerLink="/contact" routerLinkActive="active">Contact</a>
        </li>
      </ul>
      <a class="btn"  href="https://www.linkedin.com/in/sunny-kalwani/"> <i class="fa-brands fa-linkedin fa-bounce"></i></a>
      <a class="btn"  href="https://www.discordapp.com/users/1073772863443709973"><i class="fa-brands fa-discord fa-spin"></i></a>
      <a class="btn" href="https://github.com/SunnyKalwani"><i class="fa-brands fa-github fa-beat"></i></a>
    </div>
  </div>
</nav>

<!-- Content -->
<div class="container-fluid" id="bg">
<router-outlet></router-outlet>
</div>

<!-- Footer -->
<footer class="text-center text-light fixed-bottom p-3" id="footer">
  © 2023 Copyright:
  <a class="text-light" routerLink="/home">SunnyKalwani.com</a>
</footer>