<!-- Home Component -->
<div class="container-fluid p-5" id="homepage">


    <!-- Div -1 -> Content about Me -->
    <div class="d-md-flex mb-5 bg-light rounded shadow justify-content-between align-items-center  py-5 container">
        <div class="p-2 " id="aboutMe">
            <h1 class="display-6 ms-5"> <span style="font-size: 60px; color: #185571;font-family: 'Press Start 2P';">
                    Hi! </span>  I'm Sunny,</h1>
            <br>
            <p class=" p-2 my-2" style="font-size: 22px;">
                A <span id="full" style="font-size: 30px;"> Full Stack Web Developer</span> with comprehensive
                understanding of both <span id="full" style="font-size: 30px;">Front-end and Back-end technologies</span>. With expertise in HTML, CSS,
                JavaScript, and various frameworks, I design and develop responsive websites, ensuring <span id="full" style="font-size: 30px;">optimal
                performance and user experience</span>. <br><br> I enjoy <span id="full" style="font-size: 30px;">solving complex problems and delivering high-quality, innovative solutions</span>.
            </p>
            <br>
            <div class="row py-5">
                <button class="btn col m-2" id="resume"> Resume </button>
                <a class="btn col nav-link m-2" id="resume" routerLink="/skills-and-projects" routerLinkActive="active">
                    Skills and Projects </a>
                <button class="btn nav-link col m-2" id="resume" routerLink="/contact" routerLinkActive="active">
                    Contact Me </button>
            </div>
        </div>


        <!-- Div-2 -> My image -->
        <div class="p-2 ">
            <img src="assets/profile.jpg" class="d-none d-md-block rounded-circle mb-5 shadow border border-dark">
        </div>
    </div>
</div>