<!-- Home Component -->
<div class="container-fluid p-3 py-5" id="homepage">

    

    <!-- Div -1 -> Content about Me -->
    <div class="d-md-flex mb-2 bg-light rounded shadow justify-content-between align-items-center  py-2 container">

        <!-- Div-2 -> My image -->
        <div class="p-2 ">
            <img src="assets/profile.jpg" class="d-none d-md-block rounded mb-5 shadow" style="max-width: 400px;">
        </div>

        <div class="p-2 " id="aboutMe">
            <h1 class="display-6 ms-2"> <span style="font-size: 60px; color: #185571;font-family: 'Press Start 2P';">
                    Hi! </span>  I'm <span id="full" style="font-size: 50px; font-weight: bold;">Sunny</span>,</h1>
            <br>
            <p class=" p-2 my-2" style="font-size: 20px;">
                A <span id="full" style="font-size: 25px; font-weight: bold;"> Full Stack Web Developer</span> with comprehensive
                understanding of both <span id="full" style="font-size: 25px; font-weight: bold;">Front-end and Back-end technologies</span>. With expertise in HTML, CSS,
                JavaScript, and various frameworks, I design and develop responsive websites, ensuring <span id="full" style="font-size: 25px; font-weight: bold;">optimal
                performance and user experience</span>. <br> I enjoy <span id="full" style="font-size: 25px; font-weight: bold;">solving complex problems and delivering high-quality, innovative solutions</span>.
            </p>
            <br>
            <div class="row py-2">
                <button class="btn col m-2 p-2" id="resume" (click)="ResumeDownload()"> Resume </button>
                <a class="btn col nav-link m-2 p-2" id="resume" routerLink="/skills-and-projects" routerLinkActive="active">
                    Skills and Projects </a>
                <button class="btn nav-link col m-2 p-2" id="resume" routerLink="/contact" routerLinkActive="active">
                    Contact Me </button>
            </div>
        </div>


        
    </div>
</div>