<!-- Home Component -->
<div class="container-fluid" id="homepage">
    <!-- Div -1 -> Content about Me -->
    <div class="row container-fluid" >
        <div class="col-8 " id="aboutMe">
            <p  id="head"> <span class="hi"> Hi! </span> I'm Sunny,</p>
            <br>
            <p id="para">
                A <span id="full"> Full Stack Web Developer</span> passionate about creating interactive applications and making the digital world a
                better place. 
            </p>
            <br>
            <div id="button">
                <button class="btn" id="resume"> Resume </button>
                <button class="btn" id="resume1"> Skills and Projects </button>
                <button class="btn" id="resume"> Contact Me </button> 
            </div>
        </div>
        <!-- Div-2 -> My image -->
        <div class="col-4 ">
            <img src="assets/profile.jpg" id="profile_image">
        </div>
    </div>
</div>